.btn:hover,
.btn :focus {
    background-color: #79BBFF;
}

.btn {
    display: inline-block;
    width: 4em;
    height: 3em;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    background-color: #409EFF;
    color: white;
}